.NotifyForm {
  width: 385px;
  margin: 0 auto;
  list-style: none;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.notify-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch {
  --switch-width: 46px;
  --switch-height: 24px;
  --switch-bg: var(--primary);
  --switch-checked-bg: rgb(0, 218, 80);
  --circle-diameter: 18px;
  --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);

  display: inline-block;
}

.switch input {
  display: none;
}

.slider {
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: background 0.2s ease;
}

.circle {
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: var(--switch-offset);
  transition: left 0.2s ease;
}

.switch input:checked + .slider {
  background: var(--switch-checked-bg);
}

.switch input:checked + .slider .circle {
  left: calc(100% - var(--circle-diameter) - var(--switch-offset));
}